    .btn-menu {
        position: absolute;
        top: 35px;
        right: 35px;
        z-index: 3;
        cursor: pointer;
        @include easeOut();
        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0px 0px 5px 0px;
            background: #ffffff;
            @include easeOut();
        }
    }